name: Tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: ['*']

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.1', '8.2', '8.3', '8.4', '8.5']
      fail-fast: false

    name: PHP ${{ matrix.php }}
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - run: composer install --no-interaction --no-progress --prefer-dist
      - run: vendor/bin/tester tests -s -C

  static_analysis:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5
          coverage: none

      - run: composer install --no-interaction --no-progress --prefer-dist
      - run: vendor/bin/phpstan --no-progress

  lowest_dependencies:
    name: Lowest Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          coverage: none

      - run: composer update --no-interaction --no-progress --prefer-dist --prefer-lowest --prefer-stable
      - run: vendor/bin/tester tests -s -C
